<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/static/skeleton/css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>
    <div class="container" style="padding-top:50px;">
		<form method=post enctype=multipart/form-data id="form" class="center-me" style="width: 900px;">
			<div>
				<div style="float:left; ">
					<img id="preview"  style="width: 300px;"  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAABCAIAAAB/kG/JAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH5AgeAQItt5zMmQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAWSURBVDjLY/z//z/DKBgFo2AUDAUAAAknAv9B83daAAAAAElFTkSuQmCC"/>
				</div>
				<div style="float:left;">
					<img id="preview2" style="width: 300px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAABCAIAAAB/kG/JAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH5AgeAQItt5zMmQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAWSURBVDjLY/z//z/DKBgFo2AUDAUAAAknAv9B83daAAAAAElFTkSuQmCC"/>
				</div>
				<div style="float:left;">
					<img id="preview3" style="width: 300px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAABCAIAAAB/kG/JAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH5AgeAQItt5zMmQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAWSURBVDjLY/z//z/DKBgFo2AUDAUAAAknAv9B83daAAAAAElFTkSuQmCC"/>
				</div>
			</div>
			<br>
			<div class="outer">
			  <div class="inner">
			  	<button class="button button-primary" id="button">Select file</button> <br>
				<button class="button " type=button id="predict" style="display: none;" >Segment face</button> 
				<div id="name"></div>
				<div id="prediction"></div>
			  </div>
			</div>
			<input type=file name=file id="file" style="display: none;" >
		</form>
	</div>
</div>
</body>
<script src="/static/scripts.js"></script>
</html>